.about{
    margin-bottom: 100px;
	padding: 30px;
    align-content: center;
    justify-content: space-evenly;
	background: #e5e2e2;
	margin-bottom: 60px;
}
.main{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

img{

}


.li{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 30px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}


.list{
    margin-bottom: 100px;
}

