.heading{
	padding:30px;
    align-content: center;
    justify-content: space-evenly;
	margin-left: 60px;
	font-family: sans-serif;
    
}


.sub{
	padding: 30px;
    align-content: center;
    justify-content: space-evenly;
	background: #f1f1f1;
	margin-bottom: 60px;
}

.benefits-lsit {
    list-style: outside none none;
    padding: 0;
	margin-left: 60px;
}

.benefits-lsit li {
    position: relative;
    padding-left: 15px;
    margin: 15px 0;
	font-family: sans-serif;
}	





.datils{
    display: grid;
    padding: 30px;
    align-content: center;
    align-items: center;
	margin-left: 60px;
	margin-bottom: 100px;
}
