.description{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 10vh;
}


.box
{
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	background: #f1f1f1; 
	transition: 0.5s;
}

.box:hover
{ 
	height: 400px;
}

.box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 70px;
	box-sizing: border-box;
}
.box .imgBx img
{
	max-width: 100%;
	opacity: 0.6;
	transition: 0.5s;
}

.box:hover .imgBx img
{
	opacity: 1;
}

.box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1; 
}

.box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;  
	filter: blur(40px);
}

.box .content
{
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}
.box:hover .content
{
	opacity: 1;
	
}

.box .content h2
{
	font-size: 20px;
	color: black;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 1px; 
}

.box .content span
{
	font-size: 14px;
	color: black;
	font-weight: 200;
	letter-spacing: 2px; 
}
